@{
    ViewData["Title"] = "Home Page";
}

<!-- Link Css -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

<style>
    #map { height: 600px; }
</style>

<div id="map">

</div>  
 
<!-- LInk Script-->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>


<script src="~/lib/ns.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript" src="~/js/home/index/index.js"></script>
<script type="text/javascript" src="~/js/home/index/controller.js"></script>




